In [ ]:
import numpy as np

url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [11]:
import pandas as pd
import requests

resp=requests.get(url)
resp
data=resp.json()
data[0]['title']
issues=pd.DataFrame(data,columns=['number','title'])
issues

    number                                              title
0    59881  BUG: `groupby` results in index with duplicate...
1    59880   DOC: defaults in method signature vs description
2    59879  BUG (string dtype): looking up missing value i...
3    59878  DOC: Add doc for Series.dt.to_timestamp to dat...
4    59877  BUG: Adding `\cline`s to LaTeX table doesn't w...
5    59876  BUG: `pd.options.display.float_format` did not...
6    59875            TST: update frame method quantile tests
7    59874                ENH: Droping consecutive duplicates
8    59873   Fix Docstring Issues for pandas.Series.sparse...
9    59872  DOC: fix SA01, ES01 for pandas.errors.EmptyDat...
10   59871  DOC: fix RT03, ES01 for pandas.core.resample.R...
11   59869  DOC: fix RT03, ES01 for pandas.core.groupby.Da...
12   59868                DOC: fix RT03 for pandas.date_range
13   59867  DOC: fix SA01, ES01 for pandas.arrays.Interval...
14   59866       DOC: fix SA01 for pandas.arrays.BooleanArray
15   59865  DOC: fix SA01, ES01 for pandas.api.types.is_ob...
16   59864    DOC: fix SA01 for pandas.api.types.is_list_like
17   59863  DOC: fix SA01 for pandas.api.types.is_interval...
18   59862  DOC: fix SA01 for pandas.api.types.is_int64_dtype
19   59861  DOC: fix SA01, ES01 for pandas.api.types.is_fl...
20   59860  DOC: fix SA01, ES01 for pandas.Timedelta.to_ti...
21   59859  DOC: fix SA01, ES01 for pandas.Series.sparse.s...
22   59858  DOC: fix SA01 for pandas.Series.sparse.fill_value
23   59857     DOC: fix SA01, ES01 for pandas.RangeIndex.step
24   59856  DOC: fix SA01, ES01 for pandas.tseries.offsets...
25   59855  DOC: Fix inconsistent and incomplete documenta...
26   59854  String dtype: allow string dtype for non-raw a...
27   59853              String dtype: implement sum reduction
28   59852                                               typo
29   59850      Separate out examples - pandas.str.is methods

In [18]:
import sqlite3
con=sqlite3.connect('mydata.sqlite')
data = [('Atlanta', 'Georgia', 1.25, 6),
				         ('Tallahassee', 'Florida', 2.6, 3),
           ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(? , ? , ? , ? )"
con.executemany(stmt, data)

In [24]:
con.commit()

In [20]:
cursor=con.execute('select * from test')
rows=cursor.fetchall()
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5),
 ('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [25]:
cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [28]:
pd.DataFrame(rows,columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5
3      Atlanta     Georgia  1.25  6
4  Tallahassee     Florida  2.60  3
5   Sacramento  California  1.70  5

In [ ]:
np.NAN