# 10.1 GroupBy

In [2]:


import numpy as np
import pandas as pd
df = pd.DataFrame({'key1': ['a', 'a', 'b', 'b', 'a'],
				   'key2': ['one', 'two', 'one', 'two', 'one'], 'data1': np.random.randn(5),
				   'data2': np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.767198 -0.911038
1    a  two -3.441802 -0.250962
2    b  one -0.169413 -1.198641
3    b  two  0.104819  1.219879
4    a  one  0.236160  0.574190

## groupby mean

In [3]:
grouped=df['data1'].groupby(df['key1'])
grouped

In [5]:
grouped.mean()

key1
a   -1.324280
b   -0.032297
Name: data1, dtype: float64

In [6]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one    -0.265519
      two    -3.441802
b     one    -0.169413
      two     0.104819
Name: data1, dtype: float64

## unstack() 
在Python的pandas库中，unstack() 是一个用于重塑DataFrame（数据框）的方法，它通常用于将一个堆叠（stacked）的多级索引（multi-index）的DataFrame转换回一个更常规的表格格式
与 stack() 方法相反，后者是将列转换成行，形成多级索引

In [7]:
means.unstack()

key2       one       two
key1
a    -0.265519 -3.441802
b    -0.169413  0.104819

## Datatime and Datautil

In [8]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [9]:
index=pd.date_range('2011-01-01', '2011-01-04', freq='D')
index

DatetimeIndex(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04'], dtype='datetime64[ns]', freq='D')

## data_range 
start='',end=''表示边界，periods=表示数量，freq表示频率

In [13]:
pd.date_range('2024-01-01', '2025-01-04', freq='BME')

DatetimeIndex(['2024-01-31', '2024-02-29', '2024-03-29', '2024-04-30',
               '2024-05-31', '2024-06-28', '2024-07-31', '2024-08-30',
               '2024-09-30', '2024-10-31', '2024-11-29', '2024-12-31'],
              dtype='datetime64[ns]', freq='BME')